.cart {
    z-index: 9999;
    position: absolute;
    right: 5px;
    margin: auto;
    margin-top: 5px;
    background-color: rgb(28, 202, 107);
    min-width: 280px;
    min-height: 300px;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    display: none;
}

.show {
    display: flex;
}

.cart-item {
    border-radius: 15px;
    background-color: #fff;
    width: 100px;
    padding: 5px 10px;
    margin: 10px auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
    cursor: pointer;
    transform: scale(1);
}
.close-button:hover {
    transform: scale(1.2);
  }